page-login {
  .set-bg{
    background: url("../assets/img/bg.png");
    background-size: 100% 100%;
  }
  .top-img{
    margin-top: 20%;
    width: 50%;
  }
  .title{
    margin-top: 20pt;
  }
  .main-div{
    margin: 40pt;
  }

  .top-margin{
    margin-top: 25pt;
  }
  .forward-icon{
    font-size: 2.5rem!important;
  }
  .signin-div{
    margin-top: 35pt;
  }
  .social-img{
    width: 30%;
  }
}
