page-vehicle-details {
  .set-bg{
    background: url("../assets/img/bg.png");
    background-size: 100% 100%;
    background-position: center;
  }

  .back-arrow{
    font-size: 3.5rem;
    color: white;
    padding: 15pt 20pt 5pt 20pt;
  }

  .main-div{
    margin: 5pt 35pt 45pt 35pt;
  }

  .top-margin{
    margin-top: 25pt;
    margin-bottom: 20pt;
  }
  .forward-icon{
    font-size: 2.5rem!important;
  }
  .upload-icon{
    font-size: 1.7rem;
    color: #F2B400;
  }

  .fileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .fileInput label {
    color: #717171;
    background-color: white;
    display: inline-block;
    cursor: pointer;
    padding: .5em 1em;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  .image-name{
    width: 100px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .label-select{
    margin: 0!important;
  }
  .select-option{
    max-width: 100%;
    width: 100%;
    text-align: right;
    padding: 0 8px 0 0 !important;
    margin: 0 !important;
  }

}
