page-edit-profile {
  .set-bg{
    background: url("../assets/img/bg.png");
    background-size: 100% 100%;
  }
  .top{
    margin-top: 15%;
  }
  .edit{
    position: absolute;
    width: 22pt;
    margin: 45pt auto auto 55pt;
  }
  .user-image{
    width: 70pt !important;
    height: 70pt !important;
    object-fit: cover;
    border-radius: 50%;
  }
  .input-form{
    margin: 30pt;
  }
}
