<ion-header>
  <ion-navbar>
    <ion-buttons no-margin left>
      <button class="text-black" padding-left no-margin ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Home</ion-title>
    <ion-buttons end>
      <button (click)="openNotif()" class="text-black" padding ion-button icon-only>
        <ion-icon name="ios-notifications-outline"></ion-icon>
      </button>
    </ion-buttons >
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngFor="let chat of chatList;let i = index">
    <div *ngIf="!chat.isMine">
      <ion-item no-padding no-lines>
        <img class="other-user-img" src="{{chat.userProfile}}">
        <div class="other-div-content">
          <div class="bold-font smaller-text">{{chat.dateTime}}</div>
          <div class="top-margin small-text msg-content-left">
            <span class="triangle"></span>
            <p>{{chat.message}}</p>
          </div>
          <!--<div text-wrap class="top-margin small-text message-left text-dark">{{chat.message}}</div>-->
        </div>
      </ion-item>
    </div>

    <div *ngIf="chat.isMine">
      <ion-item text-right no-padding no-lines>
        <div class="my-div-content">
          <div class="bold-font smaller-text">{{chat.dateTime}}</div>
          <div class="message-right">
            <div class="small-text msg-content-right">
              <span class="triangle"></span>
              <p text-wrap>{{chat.message}}</p>
            </div>
          </div>
        </div>
      </ion-item>
      <div margin-right class="right-align"><img class="my-user-img" src="{{chat.userProfile}}"></div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-item no-lines>
    <ion-icon class="smily" item-left name="ios-happy-outline"></ion-icon>
    <input item-start placeholder="Type Your Message..." type="text" class="chat-input full-input medium-text text-grey">
    <div item-right class="chat-icons-div">
      <span>
        <ion-icon class="chat-icon text-grey" name="md-send"></ion-icon>
      </span>
    </div>
  </ion-item>
</ion-footer>
