<div *ngIf="!isRequestSent" text-left><ion-icon (click)="back()" class="back-arrow" name="ios-arrow-round-back"></ion-icon></div>
<ion-content>
  <div #mapElement id="mapElement" [ngStyle]="{'height':isRequestSent?'50%':'70%'}" style="width: 100%;"></div>
  <div *ngIf="!isRequestSent" class="main-div" margin-bottom>
    <div class="saperator-grey"></div>
    <div class="medium-text montserrat-font bold-font" padding>Select Your Location</div>
    <div class="saperator-grey"></div>
    <div padding-top padding-left padding-right>
      <div class="text-grey small-text">Current Location</div>
      <ion-item no-padding no-lines>
        <ion-icon item-left class="text-grey pin-icon" name="pin"></ion-icon>
        <!--<div item-start class="medium-text bold-font">Park Slope</div>-->
        <input text-wrap (input)='onChangeLocation($event.target.value)' item-start class="location-input" type="text" [(ngModel)]="myLocation">
        <div (click)="change(false)" item-right class="small-text" style="color: red" >Change</div>
      </ion-item>
      <div class="location-option" *ngFor="let item of this.autocompleteItemsSearch" tappable
           (click)="chooseItemSource(item)">
        <div>{{item.description}}</div>
      </div>
    </div>

    <div *ngIf="selectedService && selectedService !==''" padding-top padding-left padding-right>
      <div class="text-grey small-text">Select Drop Location</div>
      <ion-item no-padding no-lines>
        <ion-icon item-left class="text-grey pin-icon" name="pin"></ion-icon>
        <input text-wrap (input)='onChangeDropLocation($event.target.value)' item-start class="location-input" type="text" [(ngModel)]="dropLocation">
        <div (click)="change(true)" item-right class="small-text" style="color: red" >Change</div>
      </ion-item>
      <div class="location-option" *ngFor="let item of this.autocompleteItemsSearchDestination" tappable
           (click)="chooseItemDestination(item)">
        <div>{{item.description}}</div>
      </div>
    </div>

    <div class="saperator-grey"></div>
    <input [(ngModel)]="address" padding placeholder="Complete Address (optional)" class="full-input" type="text">
    <div class="saperator-grey"></div>
  </div>

  <div *ngIf="isRequestSent" class="main-div">
    <div class="saperator-grey"></div>
    <div style="margin-bottom: 25pt" class="medium-text montserrat-font bold-font" padding>
      {{currentRoute&&currentRoute.location?currentRoute.location:''}}
      <span class="small-text right-align chat-bg" (click)="openChat()">Chat</span></div>
    <div class="saperator-grey"></div>
    <div padding-top padding-left padding-right>
      <div class="text-grey small-text">Start</div>
      <ion-item no-padding no-lines>
        <ion-icon item-left class="text-grey pin-icon" name="pin"></ion-icon>
        <div item-start class="medium-text bold-font">{{driverLocation}}</div>
      </ion-item>
    </div>
    <div class="saperator-grey"></div>
    <div padding-top padding-left padding-right>
      <div class="text-grey small-text">End</div>
      <ion-item no-padding no-lines>
        <ion-icon item-left class="text-grey pin-icon" name="pin"></ion-icon>
        <div item-start class="medium-text bold-font">{{currentRoute&&currentRoute.location?currentRoute.location:''}}</div>
      </ion-item>
    </div>
    <div class="saperator-grey"></div>
    <div padding class="medium-text bold-font">Driver Name <span class="right-align nobold-font">{{currentRoute&&currentRoute.driver_name?currentRoute.driver_name:''}}</span></div>
    <div class="saperator-grey"></div>
    <div padding class="medium-text bold-font">{{currentRoute&&currentRoute.pickup_date?currentRoute.pickup_date:''}} <span class="right-align nobold-font">{{currentRoute&&currentRoute.pickup_time?currentRoute.pickup_time:''}}</span></div>
    <div class="saperator-grey"></div>
  </div>
</ion-content>
<ion-footer>
  <button (click)="set()" class="footer-btn" full ion-button>{{isRequestSent?'Cancel':'Set Location'}}</button>
</ion-footer>
