page-chat-list {
  .round{
    padding: 11pt 15pt;
    border-radius: 50%;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    width: 40pt;
    height: 40pt;
  }
  .top-margin{
    margin-top: 3pt;
  }
}
