<ion-header>
  <ion-navbar>
    <ion-buttons no-margin left>
      <button class="text-black" padding-left no-margin ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Chat List</ion-title>
    <ion-buttons end>
      <button (click)="openNotif()" class="text-black" padding ion-button icon-only>
        <ion-icon name="ios-notifications-outline"></ion-icon>
      </button>
    </ion-buttons >
  </ion-navbar>
</ion-header>

<ion-content class="montserrat-font">
  <div class="bold big-text" text-center padding margin *ngIf="isListEmpty">Your chat list is empty</div>
  <div *ngIf="!isListEmpty">
  </div>
  <div *ngFor="let user of allUsers">
    <ion-item (click)="openChat(user)" margin-top no-lines>
      <div item-left>
        <img class="user-image-chat" [src]="user.image && user.image !=='' ? user.image:'assets/img/user-default.png'">
      </div>
      <div>
        <div class="medium-text">{{user.name}}<span class="right-align small-text">{{util.timeSince(user.last_message_time)}}</span></div>
        <div class="text-grey top-margin font-italic small-text">{{user.last_message && user.last_message!==''?user.last_message:''}}</div>
      </div>
    </ion-item>
  </div>
</ion-content>
