<ion-header>
  <ion-navbar>
    <ion-buttons no-margin left>
      <button class="text-black" padding-left no-margin ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>My History</ion-title>
    <ion-buttons end>
      <button padding ion-button icon-only (click)="openNotification()">
        <ion-icon class="text-black" name="ios-notifications-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="set-bg">
  <ion-refresher class="pull-refresh" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="isListEmpty" margin text-center class="bold-font big-text">No History is available</div>
  <div *ngIf="!isListEmpty">
    <div *ngFor="let item of historyList">
      <ion-item (click)="goDetail(item)" margin-top no-lines class="grey-div">
        <!--<div item-left class="round" style="background: #890C26">R</div>-->
        <img item-left class="img-user" [src]="item.image&&item.image!==''?item.image:'assets/img/user-default.png'">
        <div item-start>
          <div class="text-white smaller-text">Service Name : {{item.service_name}}</div>
          <div class="text-white middle smaller-text">Name : {{item.driver_name}}</div>
          <div class="text-white smaller-text">Address : {{item.current_location}}</div>
        </div>
        <div item-right text-center>
          <div class="price text-yellow">£{{item.amount}}</div>
          <div class="text-white small-text top-margin">Card Payment</div>
        </div>
      </ion-item>

      <!-- <ion-item (click)="goDetail()" margin-top no-lines class="grey-div">
        <div item-left class="round" style="background: #54CFB0">R</div>
        <div item-start>
          <div class="text-white smaller-text">Service Name : Tyre Change</div>
          <div class="text-white middle smaller-text">Name : John Doe</div>
          <div class="text-white smaller-text">Address : 405 Street, Madcane</div>
        </div>
        <div item-right text-center>
          <div class="price text-yellow">$100</div>
          <div class="text-white small-text top-margin">Card Payment</div>
        </div>
      </ion-item>

      <ion-item (click)="goDetail()" margin-top no-lines class="grey-div">
        <div item-left class="round" style="background: #F7DB3A">R</div>
        <div item-start>
          <div class="text-white smaller-text">Service Name : Tyre Change</div>
          <div class="text-white middle smaller-text">Name : John Doe</div>
          <div class="text-white smaller-text">Address : 405 Street, Madcane</div>
        </div>
        <div item-right text-center>
          <div class="price text-yellow">$100</div>
          <div class="text-white small-text top-margin">Card Payment</div>
        </div>
      </ion-item> -->
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
