<ion-content class="set-bg montserrat-font" text-center>
  <div text-left><ion-icon (click)="back()" class="back-arrow" name="ios-arrow-round-back"></ion-icon></div>
  <div text-left class="main-div">
    <h3 class="text-white">Enter Your Vehicle Details</h3>
    <!--<div text-wrap class="smaller-text text-grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</div>-->
    <input [(ngModel)]="requestData.vehicle_name" class="full-input input-box small-text text-white" margin-top type="text" placeholder="Vehicle Name">
    <input [(ngModel)]="requestData.vehicle_model" class="full-input input-box small-text text-white" margin-top type="text" placeholder="Vehicle Model">
    <!--Tyre change-->
    <div *ngIf="this.requestData.service_id == '1'">
      <input [(ngModel)]="requestData.tyre_size" class="full-input input-box small-text text-white" margin-top type="text" placeholder="Tyre Size">
    </div>
    <!--Breakdown recovery and Scrap vehicle-->
    <div *ngIf="this.requestData.service_id == '2' || this.requestData.service_id == '3'">
      <ion-item margin-top class="input-box small-text text-white" no-lines no-padding>
        <ion-label padding-left>Select Options</ion-label>
        <ion-select [(ngModel)]="requestData.breakdown_option">
          <ion-option value="Vehicle drives">Vehicle drives</ion-option>
          <ion-option value="Does not drive">Does not drive</ion-option>
          <ion-option value="Can access the vehicle on the road">Can access the vehicle on the road</ion-option>
        </ion-select>
      </ion-item>
    </div>
    <!--Battery service-->
    <div *ngIf="this.requestData.service_id == '4'">
      <input [(ngModel)]="requestData.battery_name" class="full-input input-box small-text text-white" margin-top type="text" placeholder="Battery Name">
      <input [(ngModel)]="requestData.battery_model" class="full-input input-box small-text text-white" margin-top type="text" placeholder="Battery Model No.">
      <input [(ngModel)]="requestData.battery_capacity" class="full-input input-box small-text text-white" margin-top type="text" placeholder="Battery Capacity (Ex:44.0 AH)">
    </div>

    <!--Mobile Mechanic-->
    <div *ngIf="this.requestData.service_id == '6'">
      <!--Change filters, Change engine Oils, Change Battery-->
      <ion-item margin-top class="input-box small-text text-white" no-lines no-padding>
        <ion-label padding-left>Select Options</ion-label>
        <ion-select [(ngModel)]="requestData.mobile_machenic_option">
          <ion-option value="Change filters">Change filters</ion-option>
          <ion-option value="Change engine Oils">Change engine Oils</ion-option>
          <ion-option value="Change Battery">Change Battery</ion-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="row" margin-top>
      <div col-6 style="padding-left: 0;padding-top: 0">
        <ion-item style="min-height: 1rem" class="input-box" no-lines no-padding margin-right>
          <ion-datetime [(ngModel)]="requestData.pickup_time" no-margin no-padding placeholder="Time" class="select-date small-text text-white" item-right displayFormat="HH:MM"></ion-datetime>
          <ion-icon class="text-white calender" item-right name="md-time"></ion-icon>
        </ion-item>
      </div>
      <div col-6 style="padding-right: 0; padding-top: 0">
        <ion-item style="min-height: 1rem" class="input-box" no-lines no-padding>
          <ion-datetime [(ngModel)]="requestData.pickup_date" no-margin no-padding placeholder="Date" min="{{startDate}}" max="2050-01-01" class="select-date small-text text-white" item-right displayFormat="DD-MMM-YYYY"></ion-datetime>
          <ion-icon class="text-white calender" item-right name="calendar"></ion-icon>
        </ion-item>
      </div>
    </div>
    <ion-item margin-top no-lines class="medium-text">
      <div>Service Charge</div>
      <div item-right>£{{requestData.amount}}</div>
    </ion-item>
    <button (click)="pay()" class="top-margin" ion-button full>Pay</button>
  </div>
</ion-content>
